html, body{
    background-color: #1f1f1f;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ccc;
}

.title{
    text-decoration: none;
    color: #ccc;
    padding: 10px;
    margin-right: 20px;
}

.title:hover{
    color: #fff;
}

.container-1, .container-2, .container-3, .container-4{
    display: flex;
}

.container-1{
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
}

.container-2{
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
    flex: auto;
    align-items: center;
}

.container-1 p, .container-2 div{
    height: 100%;    
}

.container-2 > *{
    margin: 10px;
}

.container-3{
    flex-direction: column;
}

.container-4{
    align-items: center;
}


.container-4 > :nth-child(2){
    padding-left: 10px;    
}

.right{
    float: right;
}

.smol{
    height: 100px;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #c9a378;
}

li a:hover{
    color: #c28035;
}

.v-center{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

img {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 232px;
}

.brd-r{
    border-right: 1px solid #3f3f3f;
}

.brd-l{
    border-left: 1px solid #3f3f3f;
}

.brd-b{
    border-bottom: 1px solid #3f3f3f;
}
