html, body{
    background-color: #1f1f1f;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ccc;
}

.title{
    text-decoration: none;
    color: #ccc;
    padding: 10px;
    margin-right: 20px;
}

.title:hover{
    color: #fff;
}

.container-1, .container-2, .container-3, .container-4{
    display: grid;
}

.container-1{
    grid-template-rows: 1fr 8fr 1fr;
    height: 100%;
}

.container-2{
    grid-template-columns: 2fr 1fr 1fr;
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
}

.container-2 > p, a{
    padding: 10px;
}

.container-4 > p, a{
    padding: 10px;
}

.container-4{
    grid-template-columns: 1fr 1fr;
}

.right{
    float: right;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #c9a378;
}

li a:hover{
    color: #c28035;
}

.v-center{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

img{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 232px;
}

.brd-r{
    border-right: 1px solid #3f3f3f;
}

.brd-l{
    border-left: 1px solid #3f3f3f;
}

.brd-b{
    border-bottom: 1px solid #3f3f3f;
}